{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page</h1>
                <p>Lorem ipsum</p>
                <p><a href="/about" class="href">about page</a></p>

                <img src="/static/images/house.jp">
            </div>
        </div>
    </div>
{{end}}